@media screen and (max-width:991px){
    .navbar_media{
        display: none;
    }
    .navbar-nav{
        text-align: center;
    }
    .content_banner{
        width: 100%;
        padding: 50px 0;
    }
    .heading_home{
        font-size: 45px;
    }
    .btn2{
        margin-left: 7px;
    }
    .timeline_row{
        flex-direction: row-reverse;
    }
    .content_timeline{
        justify-content: center !important;
    }
    .icon_container::after{
        height: 296px;
    }
    .heading_content_timeline{
        text-align: left;
    }
    .para_timeline{
        text-align: left;
    }
    .arrow_right::after{
        left: -2%;
        border-left: none;
        border-right: 10px solid #000;
    }
}
@media screen and (max-width:576px){
    .arrow_left::after{
        display: none;
    }
    .arrow_right::after{
        display: none;
    }
    .icon_container{
        display: none;
    }
}